:root{
  --accent:#0DD3DC; 
}
table {
  min-width: 75vw;
  color: white;
}

table th,
table td {
  padding: 1.3em;
  border-bottom: solid 1px white;
}

table td {
  justify-content: center;
  text-align: center;
}

h5{
  color: black;
   margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

#tambah-data{
  font-weight: bolder;
  background-color: var(--accent);

}
.modal{
  min-height: 25vh;
  color: black;
}
.submit{
  margin: 1em 1em ;
  float: right;

}
.modal-footer button[type="submit"]{
  color: white;
  background-color: var(--accent);
  font-weight: 600;


}
