#tambah-data{
    display: inline;
    position: absolute;
    right: 1em;
    padding: 1em 2em;
    margin: 3em 6em 2.3em 0;
}
.placeholder{
    background-color: #555C68;
    min-height: 75vh;
    padding: 2.5em 2em 4em 2em;
    border-radius: 60px;
}
#table_id_length{
    display: none;
}
#table_id{
    font-size: 1rem;
    min-width: 72vw;

  }
#table_id_info{
    font-weight: bold;
    color: turquoise;
    margin: 2em 2em;
}
#table_id_wrapper{
    align-self: center;
    justify-content: center;
    margin: 1.5em 1em 0 0;
    padding: 1em;
}
input[type=search]{
    background-color: rgb(66, 72, 82);
    padding-right: 4em;
    margin: 1.5em 1.5em;
    border: 2px solid #0DD3DC;
    border-radius: 50px;
}   
#table_id_paginate{
    display: inline-block;
    position: absolute;
    padding: 0 2em;
    margin-right: 2em;
    right: 4.5em;
}   

#table_id_paginate a{
    margin-left: 1.5em;
    cursor: pointer;
}
#table_id_paginate a:hover{
    border-bottom: solid 1px white;
}

#table_id_paginate .previous, #table_id_paginate .next {
    font-weight: bold;
    color: #0DD3DC;
}
#table_id_paginate .current{
    padding: 0.6em 1em;
    color: black;
    border-radius: 45px;
    background-color: white;
}


